.Search {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Search input {
    width: 750px;
    height: 50px;
    border-radius: 20px;
}

.Search i {
    margin-right: 10px;
}

.Search i:hover {
    cursor: pointer;
}